[isort]
profile = black
line_length = 100
skip_gitignore = True
known_first_party = apps,core,config
known_django = django

[tool:black]
line-length = 100
target-version = ['py311']
exclude = '''
/(
    \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | migrations
)/
'''
